name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

env:
  CSV_URL: "MLproject/train_pca.csv"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      #   with:
      #     lfs: true   # <--- ini penting, otomatis ambil file LFS

      # - name: Install Git LFS manually
      #   run: |
      #     git lfs install
      #     git lfs pull

      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Jalankan Trigger
      - name: Trigger
        run: |
          python preprocessing/automate_LeoPrangsT.py
      - name: Add and commit files
        run : |
          git config --global user.name ${{ secrets.USERNAME }}
          git config --global user.email ${{ secrets.EMAIL }}
          git add preprocessing/nilai_mahasiswa-preprocessed.csv
          git commit -m "preprocessing data" || true

      # - name: Check Env
      #   run: |
      #     echo $CSV_URL

      # # A1: Save in Local Github
      # # Install mlflow
      # - name: Install dependencies mlflow
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install mlflow
      
      # # Run as a mlflow project
      # - name: Run mlflow project
      #   run: |
      #     mlflow run MLproject --env-manager=local 

      # # Save models to GitHub Repository
      # - name: Save mlruns to repo
      #   run: |
      #     git config --global user.name ${{ secrets.USERNAME }}
      #     git config --global user.email ${{ secrets.EMAIL }}
      #     git add -f mlruns/
      #     git commit -m "Save mlruns from CI run" || true
      #     git push origin main