name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

env:
  CSV_URL: "MLproject/train_pca.csv"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true   # <--- ini penting, otomatis ambil file LFS

      - name: Install Git LFS manually
        run: |
          git lfs install
          git lfs pull

      # Setup Python 3.12.12
      - name: Set up Python 3.12.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.12"
      
      # install dependencies (preprocessing)
      - name: Install dependencies preprocessing
        run: |
          python -m pip install --upgrade pip
          pip install pandas scikit-learn

      # Jalankan Trigger
      - name: Trigger preprocessing (rename afterward)
        run: |
          python preprocessing/automate_LeoPrangsT.py
      - name: Add and commit files
        run : |
          git config --global user.name ${{ secrets.USERNAME }}
          git config --global user.email ${{ secrets.EMAIL }}
          git add preprocessing/nilai_mahasiswa-preprocessed.csv
          git commit -m "preprocessing data gitAction #1" || true
          git push origin main

      # Save model in Local Github
      - name: Install dependencies mlflow & rest
        run: |
          python -m pip install --upgrade pip
          pip install numpy tensorflow scikeras mlflow
      
      # Run as a mlflow project
      - name: Run mlflow project
        run: |
          mlflow run MLProject --env-manager=local

      # Save models to GitHub Repository
      - name: Save mlruns to repo Github (kriteria 3)
        run: |
          git config --global user.name ${{ secrets.USERNAME }}
          git config --global user.email ${{ secrets.EMAIL }}
          git add -f mlruns/
          git commit -m "Save mlruns from gitAction #3" || true
          git push origin main
      
      - name: Build Docker image
        run: |
          mlflow models build-docker \
            -m models:/CF_Mahasiswa_Sklearn/1 \
            -n leoprangs/cf_rekomendasi:latest

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Save models to Docker Hub
      - name: Save mlruns to Docker Hub (kriteria 3)
        run: |
          docker push leoprangs/cf_rekomendasi:latest